
//Primary Colors  
$onePrimaryColor: #01080E;
$twoPrimaryColor: #011627;
$threePrimaryColor: #011221;

//Secondary Colors 
$oneSecondaryColor: #607B96;
$twoSecondaryColor: #3C9D93;
$threeSecondaryColor: #4D5BCE;
$forSecondaryColor: #FFFFFF;

//Accent Colors
$oneAccentColor: #FEA55F; 
$twoAccentColor: #43D9AD;
$threeAccentColor: #E99287;
$forAccentColor: #C98BDF;

//Lines Color
$linesColor: #1E2D3D;

//Gradients colors 
$oneGradientsColor: #4D5BCE;
$twoGradientsColor: #43D9AD;

//font family 

$fontfamily : "Fira Code", monospace;

//Font Size 
$HeadlineText : 62px;
$SubheadlineText : 32px;
$BodyText: 18px; 
$Lables: 16px;
$CodeSnippets : 14px;