@use '../../../../styles/variables/SecondaryColor.scss' as*;
@use '../../../../styles/variables/Fontfamily.scss' as*;
@use '../../../../styles/variables/Fontsize.scss' as *;
@use '../../../../styles/variables/AccentColor.scss' as *;

// navcard : it is a CSS class slector. It applies the defined styles to all elements that have the class
.navcard{
  width: 100%; // S’adapte au parent
  display: flex;

    //navlink (nested inside navacard)
    //this means that the styles apply to all elements with the class navlink that are inside an element whith the class .navcard position: abs
    .navlink{
       
        
        text-decoration: none; //Remove the text decoration
        color:$oneSecondaryColor;
        font-family: $fontfamily; 
        font-size: $Lables;
        
        padding: 0.75rem 0;
     
        //background-color: red;
         width: 100%; //  s’étend pour occuper toute la place
         
       
        &:hover{
            color: $forSecondaryColor;
        }
    }
    .active {
        border-bottom: 3px solid $oneAccentColor;
       
}
}