@use './styles/Variables.scss' as*;

.container{

    position: absolute;
    background-color: aqua;
    overflow: hidden;
    width: 95%;
    top: 6%;
    margin-left: 35px;
    margin-right: 35px;
    bottom: 6%;
    border: 0.5px solid $linesColor;
    border-radius: 6px;
    
   

}