@use './styles/Variables.scss' as*;

.container{

    position: absolute;
    top: 6%;
    margin-left: 35px;
    margin-right: 35px;
    overflow: hidden;
    border-radius: 6px;
    border: 0.5px solid $linesColor;
    background-color: aqua;

}