//@use '../../../styles/variables/PrimaryColor.scss';

@use '../../../styles/variables/PrimaryColor.scss' as*;
@use '../../../styles/variables/LineColor.scss' as *;

//"tyles that control the overall layout of the Navcards

.container{

    //Display : flex, the css property display: flex; turns an element into a flex contenair. 
    //this makes easy to lay out is children (direct elements) in a row or column, with precise
    //control over alignment, spacing, and sizing.
    // Here, it aligns the elements horizontally, distributes the space between them, centers them vertically
    display: flex;
    background-color: $threePrimaryColor;
    height: 50px;
    width: 100%;
    overflow: hidden; // hide all content overflow
    justify-content: space-between;

    .left, .center, .right {

        display: flex;
        border: 0.5px solid $linesColor;
        border-top: none;
    }

    .center {
        flex: 1; // takes up all  the available space between .left and .right
        
        // > direct child selector and > *: All direct children, regardless of their type 
        > * {

            border: 0.5px solid $linesColor;
            border-left: none;
            width: 117px;
            border-top: none;
            text-align: center;
            border-bottom : none;
        }
    } 

    .left {
        
        width:300px;
        border-right: none;
        flex-shrink: 0; // The element never shrinks even when space is lacking.
        text-indent: 15px;
    }
    
    .right {

        width:150px;
        flex-shrink: 0;
        border-left: none;
        text-align: center;
    }

}

